<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>

    <link rel="stylesheet" href="/public/login_signup/css/style.css">
</head>

<body>
    <nav class="navbar" >
        <ul class="navlist">
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/users/chat_application">Chat Rooms</a></li>
            <li><a href="/users/games/tictactoe">Games</a></li>
            <li><a href="#">Settings</a>
                    <ul>
                        <li><a href="#">Edit Profile</a></li>
                        <li><a href="/">LogOut</a></li>
                    </ul>
            </li>
        </ul>
    </nav>
</body>

</html>