<!DOCTYPE html>
<html>
<head>
<meta name="description" content="TIC TAC TOE GAME">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/public/games/tic_tac_toe.css">
  <script defer src="/controller/games/tic_tac_toe.js"></script>
  <title>Tic Tac Toe Game</title>
</head>
  
<body>
  {{>navbar}}
  <div class="background_image"></div>
  <div class="container">
    <H1> Tic Tac Toe Game </H1>
  <div id="div1">
    
    <input type="text" id="b1" onclick = "b1Value(); won()">
    <input type="text" id="b2" onclick = "b2Value(); won()">
    <input type="text" id="b3" onclick = "b3Value(); won()"> <br><br>
    <input type="text" id="b4" onclick = "b4Value(); won()">
    <input type="text" id="b5" onclick = "b5Value(); won()">
    <input type="text" id="b6" onclick = "b6Value(); won()"> <br> <br>
    <input type="text" id="b7" onclick = "b7Value(); won()">
    <input type="text" id="b8" onclick = "b8Value(); won()">
    <input type="text" id="b9" onclick = "b9Value(); won()">
    
    <p id = "print"></p>
  </div>
  </div>
</body>
</html>